@tailwind base;
@tailwind components;
@tailwind utilities;


.link__services {
    background: linear-gradient(to right, #E2AA19, #f3d68c, #FFBB36, #FFEF98, #FFCF53, #FFD98F);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    border: 1px solid #E8BA40;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    transition: .5s all;
}

.link__services:hover {
    color: white;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background: #E8BA40;
    transition: .5s all;
}



/*NOTE - NAVBAR CSS AREA */

.navbar__custom{
    background-color: #181411;
}

.navbar__menu {
    font-weight: 700;
    font-size: 24px;
    color: #E2AA19;
    padding: 15px;
}

.active {
    color: #E2AA19;
    font-size: 30px;
    background: linear-gradient(to right, #E2AA19, #f3d68c, #FFBB36, #FFEF98, #FFCF53, #FFD98F);
    -webkit-background-clip: text;
    color: transparent;
}

.dropdown__button {
    color: white;
}


/*NOTE - END NAVBAR CSS AREA */



/*NOTE - CONTACT CSS AREA */

.contact__title {
    font-size: 64px;
}

.contact__bottom {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/*NOTE - END CONTACT CSS AREA */


/* NOTE - AUTH CSS AREA */

.auth {
    height: calc(100vh - 90px);
}

.layout__auth {
    background-color: rgb(0, 0, 0, 0.5);
}


/* NOTE - END AUTH CSS AREA */

/*NOTE - FOOTER CSS AREA */

.footer {
    background-color: white;
    padding: 50px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer__contact {
    width: 25%;
}

.footer__service {
    width: 25%;
}

.footer__logo {
    width: 50%;
}

/*NOTE - END FOOTER CSS AREA */



/*NOTE - Introduction CSS AREA */

.intro {
    padding: 100px 100px;
}

.intro__first {
    margin: 100px 0px;
}


.intro__content__first {
    margin-right: 30px;
    border-top: 2px solid #E8BA40;
    padding-top: 10px;
}


.intro__content__second {
    margin-left: 30px;
    border-top: 2px solid #E8BA40;
    padding-top: 10px;
}

.intro__img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.intro__content__first .text {
    font-size: 32px;
}

.intro__content__second .text {
    font-size: 32px;
}


.intro__title {
    font-size: 40px;
}

/*NOTE - END Introduction CSS AREA */

/*NOTE - Banner CSS AREA */

.home__banner {
    padding: 50px 100px;
    border-bottom: .5px solid #E8BA40;
}

.banner__img {
    height: 535px;
    width: 66%;
}

.company__name {
    font-size: 40px;
}


/*NOTE - END Banner CSS AREA */

/*NOTE - Statistics CSS AREA */

.statistics {
    width: 100%;
    height: 535px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 50px 0px;
}


.statistics__layout {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .75;
}

.item .number {
    font-size: 70px;
    color: white;
    font-weight: bold;
}

.item .icon {
    width: 150px;
    height: 150px;
    color: #E8BA40;
    border: 10px solid #FEAA56;
    border-radius: 50%;
    padding: 30px;
    background-color: black;

}

.list__statistics {
    padding: 0px 300px;
}

.statistics__text {
    font-size: 40px;
    color: white;
}

/*NOTE - End Statistics CSS AREA */


/*NOTE - START INTRO SERVICES */

.intro__service {
    border-bottom: .5px solid #E8BA40;
}


/*NOTE - END INTRO SERVICES */





.gradient__bg {
    background: conic-gradient(#FFBB36,#FFF6A6,#FFD362,#FFF1CE,#FBB910,#FFAA5C,#E7B13E);
    width: 186px;
    height: 186px;
}


.layout__gradient {
    width: 168px;
    height: 168px; 
}

.menu__icon {
    color: #E2AA19;
}

.underline__custom {
    width: 642px;
    height: 2px;
    background-color: #362D26;
    margin: 20px auto;
}
